@model IEnumerable<Bruno_prova1.Models.Treino>

@{
    ViewBag.Title = "Historico";
}

<h2>Historico</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercicio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVezesTreino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoMaximo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(a => a.NumeroVezesTreino)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercicio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroVezesTreino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoMaximo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreinoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreinoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreinoId })
        </td>
    </tr>
}

</table>
