@model IEnumerable<ApiAparelhos.Models.Aparelho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusculoTrabalhado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusculoTrabalhado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AparelhoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AparelhoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AparelhoId })
        </td>
    </tr>
}

</table>
